html {
  scroll-behavior: smooth;
}

/********************* NAVBAR *****************/

nav {
  height: 4em;
  font-size: 1.2em;
  color: grey;
}

nav #home {
  color: grey;
}
.activeColor {
  background: pink;
  color: black;
  border-radius: 10%;
  animation: rotatenav ease 2s forwards;
}

@keyframes rotatenav{
  from{transform: rotatez(0eg)}
  to{transform: rotatez(-372deg)}
}

/********************* HOME *****************/
#home {
  padding-top: 100px;
  padding-bottom: 90px;
  height: 100vh;
}

#home p, h1 {
  text-align: center;
}

#home p {
  padding-top: 15px;
}

#home p em{
  
}

#avataar {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/******************* ABOUT *******************/
#about {
  padding-top: 90px;
  padding-bottom: 90px;
}

/******************* PROJECTS *******************/
.codeIcons {
  font-size: 10em;
  color: pink;
  background: grey;
  padding: 8px 27px;
  border-radius: 15%;
  margin-left: 30px;
}

/***************** LIVE PROJECTS MODAL ******/
#projects {
  padding-top: 90px;
  text-align: center;
}
 
.tile {
  color: black;
  background-color: lightgrey;
  font-weight: 900;
  font-size: 20px;
  /*display: inline;*/
  width: 150px;
  height: 150px;
  display: inline-block;
  border-radius: 10%;
  padding-top: 55px;
}
a {
  text-decoration: none;
  color: none;
}

.firstRow {
  margin-bottom: 5px;
}

/****************** CONTACT ********************/ 
#contact {
  padding-top: 90px;
  text-align: center;
}

.contactP{
  padding-left: 30px;
  padding-right: 30px;
}

.myForm {
  text-align:center;
  height: 100%;
}

iframe {
  border: none;
}
